@import "tailwindcss";

@theme {
  --color-backdrop: rgba(0, 0, 0, 0.7);
  --color-disabled: rgba(0, 0, 0, 0.1);
  --color-background: white;
  --color-text: #11111;
}

@layer base {
  h1 {
    font-size: var(--text-xl);
    @apply my-5;
  }

  h2 {
    font-size: var(--text-xl);
  }

  h3 {
    @apply my-5;
    font-size: var(--text-base);
  }

  h4 {
    font-size: var(--text-sm);
  }

  p {
    font-size: var(--text-xs);
  }
}
